extends layout
extends nav

block content

	table.tableCSS.cartTotal
		tr
			th Title
			th Quantity
			th Price
			th Size
			th Total

	button(class='orderAll', type='submit') Order

	if user
		p.hidden.user.iduser #{user._id}


	
	script.
		$(document).ready(function(){

			var socket = io.connect('http://localhost:3000');

			var array = [];
			var userId = "#{user._id}";

			socket.on('showCartProducts', function(r){

				var total = r.length;

				for(var i=0; i < total; i++){

					if(r[i].usercartId == userId){
						
						if(r[i].status == "true"){
							$('.cartTotal').append('<tr><td>' + r[i].title + '</td><td>' + r[i].quantity + '</td><td>' + r[i].price + '</td><td>' + r[i].option + '</td><td>' + r[i].total + '</td></tr>');

							array[i] = r[i]._id;
						}

					}
				
				}

				if ($(".user").html() == ""){

					$(".loginCheck").addClass("hidden");

				};

			});


			$(".orderAll").on("click", function(){

				var dataOrder = {userorder: userId, order: array};
				
				socket.emit("addToOrder", dataOrder);

				window.location.href='/account';

			});	

		});