extends layout
extends nav

block content

	div.contactbanner

	div#info
		h1 Contact us
		br
		p Have a question about our products or services?
		p Do not hesitate to contact us

	div#contactgegevens
		div#contact
			h2 Contact
			br
			p Email: INFO@DISTRICT01.BE
			p Phone: +32 3 612 20 20
		div#adres
			h2 Adres
			br
			p VELDKANT 35C
			p 2550 KONTICH
			p BELGIUM
		div#hours
			h2 Business hours
			br
			p Monday - Friday
			p 10am - 6pm