extends layout
extends nav

block content

	div.filter
		form
			select(name='productFilter', id="productFilter")
				option(value='showAll') Show all
				option(value='Hat') Hat
				option(value='T-shirt') T-shirt
				option(value='Sweater') Sweater
				option(value='Accesories') Accesories
			button(type='submit' class='hidden') Filter

	div.productContainer
		div.product
		
		p.hidden.user #{user}
		if user
			p.hidden.user.iduser #{user._id}
