doctype html
html
  head

    title Webshop District 01
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    

  body
    block nav
    block content

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/script.js")
    script(src="/javascripts/modernizr.js")
    script(src="/javascripts/product.js")